Repository Dhaulagiri/paste, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: Repo, Area: Primitives, Area: Components, Area: Core bundle, Area: Doc Site, Area: Theme, Area: Tokens, Area: Storybook, Area: Infrastructure, Type: Documentation, Type: Tests

.github/labeler.yml:

# https://github.com/actions/labeler

# Add 'repo' label to any root file changes
"Area: Repo":
  - "*"

"Area: Primitives":
  - packages/core/primitives/**/*

"Area: Components":
  - packages/core/components/**/*

"Area: Core bundle":
  - packages/core/core-bundle/**/*

"Area: Doc Site":
  - apps/website/**/*

"Area: Theme":
  - packages/core/theme/**/*

"Area: Tokens":
  - packages/core/design-tokens/**/*

"Area: Storybook":
  - .storybook/**/*

"Area: Infrastructure":
  - .eslint/**/*
  - .github/**/*
  - .jest/**/*
  - .vscode/**/*
  - tools/**/*

"Type: Documentation":
  - apps/website/src/pages/**/*

"Type: Tests":
  - "**/__tests__/**/*"
  - cypress/**/*

fix(website): add empty state to tokens filter and fix bugs pt 1
  packages/paste-website/src/components/tokens-list/index.tsx
Labels: none

chore(website): fix filter on page load and empty state button
  packages/paste-website/src/components/tokens-list/index.tsx
Labels: none

chore(website): fix ts error and replace form element
  packages/paste-website/src/components/tokens-list/index.tsx
Labels: none

chore(website): remove first useEffect hook
  packages/paste-website/src/components/tokens-list/index.tsx
Labels: none

chore(website): refactor filter func out of comp and use utils for server side
  packages/paste-website/src/components/tokens-list/index.tsx
  packages/paste-website/src/utils/RouteUtils.ts
Labels: none

test(website): create cypress test for existing search param
  cypress/integration/token-list/index.spec.ts
Labels: Type: Tests

test(website): finish cypress tests for tokens filter
  cypress/integration/token-list/index.spec.ts
Labels: Type: Tests

chore(website): pull out helpers and types from tokens-filter
  packages/paste-website/src/components/tokens-list/helpers.tsx
  packages/paste-website/src/components/tokens-list/index.tsx
  packages/paste-website/src/components/tokens-list/types.ts
Labels: none

test(website): add unit tests for filterTokenList
  packages/paste-website/src/__tests__/tokensList.test.tsx
Labels: Type: Tests

chore(website): remove console.log
  packages/paste-website/src/components/tokens-list/index.tsx
Labels: none

chore: dependency updates and node 16
  .github/workflows/on_merge_to_main.yml
  .github/workflows/on_pull_request.yml
  .github/workflows/on_pull_request_package_size.yml
  .nvmrc
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarnrc.yml
  package.json
  packages/paste-codemods/package.json
  packages/paste-core/primitives/box/package.json
  packages/paste-core/primitives/text/package.json
  packages/paste-style-props/package.json
  packages/paste-token-contrast-checker/package.json
  packages/paste-website/package.json
  tools/build/__tests__/__snapshots__/compiledImports.test.ts.snap
  tools/build/__tests__/compiledImports.test.ts
  yarn.lock
Labels: Area: Repo, Area: Infrastructure, Type: Tests

chore: storybook webpack v5 upgrade
  .storybook/main.js
  .storybook/package.json
  package.json
Labels: Area: Repo, Area: Storybook

chore: align babel confgs
  .storybook/.babelrc
  babel.config.js
  packages/paste-design-tokens/.babelrc
  packages/paste-website/babel.config.js
Labels: Area: Repo, Area: Storybook

chore: eslint and prettier changes for dep updates
  .eslintrc.js
  packages/paste-color-contrast-utils/__tests__/themeContrast.spec.ts
  packages/paste-color-contrast-utils/src/utils.ts
  packages/paste-core/components/badge/__tests__/customization.spec.tsx
  packages/paste-core/components/combobox/__tests__/customization.spec.tsx
  packages/paste-core/components/menu/__tests__/customization.spec.tsx
  packages/paste-core/components/menu/__tests__/index.spec.tsx
  packages/paste-core/components/menu/stories/customization.stories.tsx
  packages/paste-core/components/select/stories/select.stories.tsx
  packages/paste-core/components/spinner/__tests__/index.test.tsx
  packages/paste-core/components/tabs/src/Tabs.tsx
  packages/paste-core/primitives/combobox/__tests__/useMultiSelectPrimitive.test.tsx
  packages/paste-core/primitives/combobox/stories/index.stories.tsx
  packages/paste-core/primitives/menu/__tests__/index.spec.tsx
  packages/paste-design-tokens/formatters/d.ts.ts
  packages/paste-libraries/data-visualization/stories/options/lineChartWithAnnotationsOptions.ts
  packages/paste-libraries/styling/src/css-function/css.ts
  packages/paste-theme-designer/.eslintrc.json
  packages/paste-types/src/DomTypes.ts
  packages/paste-website/.eslintrc
  tools/utils/token-usage/__tests__/getUnusedTokenList.test.ts
  tools/utils/writeToFile.ts
Labels: Area: Repo, Area: Infrastructure, Type: Tests

feat: major version bump of csstype
  .changeset/kind-panthers-watch.md
  packages/paste-core/primitives/box/src/types.ts
  packages/paste-core/primitives/text/src/types.ts
  packages/paste-style-props/src/types/background.ts
  packages/paste-style-props/src/types/border.ts
  packages/paste-style-props/src/types/flexbox.ts
  packages/paste-style-props/src/types/layout.ts
  packages/paste-style-props/src/types/position.ts
  packages/paste-style-props/src/types/typography.ts
Labels: none

chore: archive some core package changelog entries
  packages/paste-core/core-bundle/CHANGELOG.md
  packages/paste-core/core-bundle/CHANGELOG_ARCHIVE.md
Labels: none

fix: typing for alert dialog
  .changeset/large-mice-think.md
  .changeset/thin-peas-impress.md
  packages/paste-core/components/alert-dialog/src/AlertDialogContent.tsx
  packages/paste-core/components/modal/src/Modal.tsx
Labels: none

test(data-grid): fix axe test
  packages/paste-core/components/data-grid/__tests__/index.spec.tsx
  packages/paste-core/components/data-grid/stories/components/ComposableCellsDataGrid.tsx
Labels: Type: Tests

chore: changesets
  .changeset/kind-panthers-watch.md
  .changeset/tiny-dodos-laugh.md
Labels: none

test(website): update token filter cypress id
  cypress/integration/token-list/index.spec.ts
  packages/paste-website/src/components/tokens-list/index.tsx
Labels: Type: Tests

docs(website): add tokens overview page
  packages/paste-website/src/assets/images/tokens/alias-tokens.png
  packages/paste-website/src/assets/images/tokens/input-tokens-example.png
  packages/paste-website/src/component-examples/ColorsFoundationExamples.tsx
  packages/paste-website/src/component-examples/DataVisualizationExamples.tsx
  packages/paste-website/src/components/ImageCaption.tsx
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarNavigation.tsx
  packages/paste-website/src/pages/tokens/overview/index.mdx
Labels: none

chore: speed up simple site VRT
  cypress.json
  cypress/integration/sitemap-vrt/index.spec.ts
Labels: Area: Repo, Type: Tests

test(applitools-sitemap): progress checkin - add vrt sitemap crawler
  applitools.config.js
  cypress.json
  cypress/integration/sitemap-vrt/index.spec.ts
  package.json
Labels: Area: Repo, Type: Tests

chore: record things and run all tests
  cypress.json
  package.json
Labels: Area: Repo

chore: move cypress to netlify preview
  .github/workflows/on_pull_request.yml
  package.json
Labels: Area: Repo, Area: Infrastructure

chore: cypress doesnt need build anymore
  .github/workflows/on_pull_request.yml
Labels: Area: Infrastructure

chore(website): add localization ux guidelines page
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarNavigation.tsx
  packages/paste-website/src/constants.ts
  packages/paste-website/src/pages/foundations/localization/index.mdx
Labels: none

chore(website): use heading and paragraph
  packages/paste-website/src/constants.ts
  packages/paste-website/src/pages/foundations/localization/index.mdx
Labels: none

chore(website): some cleanup and polish
  packages/paste-website/src/pages/foundations/localization/index.mdx
Labels: none

Update README.md
  README.md
Labels: Area: Repo
